body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
  }


  
.manrope-font-style {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }